.aside {
  &__in {
    width: 1064px;
    margin: 0 auto;
    margin-top: 20px;
  }

  &--left {
    width: 620px;
    height: 496px;
    border-radius: 4px 0px 0px 0px;
    // margin-left: 60px;
    // margin-top: 50px;
  }

  &-item {
    width: 620px;
    height: 496px;
    border-radius: 4px 0px 0px 0px;
    background: linear-gradient(
      129.24deg,
      #e4e1db 0%,
      #f4f0eb 43.3%,
      #f9f9f9 99.59%
    );
  }

  &-head {
    width: 176px;
    height: 22px;
    font-family: Manrope;
    font-size: 32px;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: -0.02em;
    text-align: left;
    margin-left: 25px;
  }

  &-text {
    width: 271px;
    height: 48px;
    font-family: Manrope;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: -0.02em;
    text-align: left;
    margin-left: 25px;
  }

  &-link {
    width: 85px;
    height: 22px;
    font-family: Manrope;
    font-size: 16px;
    font-weight: 700;
    line-height: 21.86px;
    letter-spacing: -0.02em;
    text-align: left;
    text-decoration: none;
    margin-left: 25px;
    color: #000000;
  }

  &-img {
    margin-top: 20px;
    margin-left: 25px;
  }

  &--right-item {
    margin-left: 350px;
    margin-top: -400px;
  }

  &-list {
    width: 119px;
    height: 24px;
    font-family: Manrope;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: -0.02em;
    text-align: left;
    list-style: none;
    margin-top: 25px;
  }

  &-lists {
    width: 173px;
    height: 72px;
    font-family: Manrope;
    font-size: 72px;
    font-weight: 600;
    line-height: 72px;
    letter-spacing: -0.02em;
    text-align: left;
    color: #000000;
    list-style: none;
    margin-top: 25px;
  }
  &-right {
    width: 420px;
    height: 496px;
    border-radius: 4px 0px 0px 0px;
    color: #f9f8f7;
    &-list {
      margin-top: -495px;
      margin-left: 700px;
    }

    &-pic {
      margin-top: 30px;
      margin-left: -10px;
    }
    &--head {
      width: 260px;
      height: 72px;
      font-family: Manrope;
      font-size: 16px;
      font-weight: 600;
      line-height: 24px;
      letter-spacing: -0.02em;
      margin-left: 80px;
      margin-top: -85px;
      color: #000000;
    }
  }
}
