body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.container {
    max-width: 1270px;
    margin: 0 auto;
    padding: 0 20px;
    /* background-color: aqua; */
    /* #F1F0EE */
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    cursor: pointer;
}

summary {
    width: 580px;
    display: flex;
    justify-content: space-between;
}

details>summary {
    list-style-type: none;
}

details>summary::-webkit-details-marker {
    display: none;
}

details>summary::after {
    content: '+';
}

details[open]>summary::after {
    content: 'x';
    /* transform: rotate(45deg); */
}

details {
    padding: 0.5rem;
}

details[open]>summary {
    margin-bottom: 0.5rem;
}